.footer {
  background: linear-gradient(
    110deg,
    rgba(104, 13, 122, 1),
    rgb(187, 15, 213, 1)
  );
  /* background: #f37e3c; */
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h1 {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 5px;
  margin-left: 20px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerDate {
  color: #ffffff;
  font-size: 18px;
}

@media only screen and (max-width: 975px) {
  .footer {
    padding: 40px 0px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .left {
    margin-bottom: 30px;
  }
}
