.content {
  background: linear-gradient(
    220deg,
    rgba(104, 13, 122, 1),
    rgba(48, 13, 80, 1)
  );
  padding: 100px 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@media only screen and (max-width: 975px) {
  .content {
    padding: 100px 50px;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .formImage {
    margin-bottom: 100px;
  }
}
